<div class="d-flex justify-content-center main-content">
    <div class="flex-row">
        <div class="flex-column">
<div class="card bg-color-loginbox mb-3" style="max-width: auto;">
    <div class="card-header text-center text-white">REGISTER</div>
    <div class="card-body">
      <form>
        <div class="form-group">
            <label for="name" class="text-white">Name</label>
          <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label for="username" class="text-white">Username</label>
          <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="password" class="text-white">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter Password">
        </div>
        <div class="col">
        <div class="mx-auto text-center">
        <button type="submit" class="btn btn-success mt-4">Sign Up</button>
        <small id="newUserSignupLink" class="form-text text-white mt-3"><a routerLink="/login">Already have an account?</a></small>
    </div>
</div>
      </form>
    </div>
  </div>
</div>
</div>
</div>