 <!-- Album -->
 <div class="container main-content">
    <div class="row justify-content-start">
        <div class="col">
            <img src="../../assets/bg/67227.jpg" style="width: 70%" />
        </div>
        <div class="col">
            <h3 class="text-white">Recent Listening History</h3>
            <ul class="list-group list-group-flush bg-transparent">
                <li class="list-group-item text-white bg-transparent">Oo Aayiye &#8226; Ayan</li>
                <li class="list-group-item text-white bg-transparent">Yellae Lama &#8226; 7 Aum Arivu</li>
                <li class="list-group-item text-white bg-transparent">Kannum Kannum &#8226; Anniyan</li>
                <li class="list-group-item text-white bg-transparent">Yanthara Lokapu Sundarive &#8226; 2.0</li>
                <li class="list-group-item text-white bg-transparent">Jagadame &#8226; Pokiri</li>
            </ul>
        </div>
    </div>